:root {
    --md-sys-color-primary: rgb(183 196 255);
    --md-sys-color-surface-tint: rgb(183 196 255);
    --md-sys-color-on-primary: rgb(30 45 97);
    --md-sys-color-primary-container: rgb(54 68 121);
    --md-sys-color-on-primary-container: rgb(221 225 255);
    --md-sys-color-secondary: rgb(213 200 113);
    --md-sys-color-on-secondary: rgb(55 49 0);
    --md-sys-color-secondary-container: rgb(79 71 0);
    --md-sys-color-on-secondary-container: rgb(242 228 138);
    --md-sys-color-tertiary: rgb(228 186 218);
    --md-sys-color-on-tertiary: rgb(67 39 63);
    --md-sys-color-tertiary-container: rgb(92 61 86);
    --md-sys-color-on-tertiary-container: rgb(255 215 244);
    --md-sys-color-error: rgb(255 180 171);
    --md-sys-color-on-error: rgb(105 0 5);
    --md-sys-color-error-container: rgb(147 0 10);
    --md-sys-color-on-error-container: rgb(255 218 214);
    --md-sys-color-background: rgb(18 19 24);
    --md-sys-color-on-background: rgb(227 225 233);
    --md-sys-color-surface: rgb(18 19 24);
    --md-sys-color-on-surface: rgb(227 225 233);
    --md-sys-color-surface-variant: rgb(69 70 79);
    --md-sys-color-on-surface-variant: rgb(198 197 208);
    --md-sys-color-outline: rgb(144 144 154);
    --md-sys-color-outline-variant: rgb(69 70 79);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(227 225 233);
    --md-sys-color-inverse-on-surface: rgb(47 48 54);
    --md-sys-color-inverse-primary: rgb(78 91 146);
    --md-sys-color-primary-fixed: rgb(221 225 255);
    --md-sys-color-on-primary-fixed: rgb(5 22 75);
    --md-sys-color-primary-fixed-dim: rgb(183 196 255);
    --md-sys-color-on-primary-fixed-variant: rgb(54 68 121);
    --md-sys-color-secondary-fixed: rgb(242 228 138);
    --md-sys-color-on-secondary-fixed: rgb(32 28 0);
    --md-sys-color-secondary-fixed-dim: rgb(213 200 113);
    --md-sys-color-on-secondary-fixed-variant: rgb(79 71 0);
    --md-sys-color-tertiary-fixed: rgb(255 215 244);
    --md-sys-color-on-tertiary-fixed: rgb(44 18 41);
    --md-sys-color-tertiary-fixed-dim: rgb(228 186 218);
    --md-sys-color-on-tertiary-fixed-variant: rgb(92 61 86);
    --md-sys-color-surface-dim: rgb(18 19 24);
    --md-sys-color-surface-bright: rgb(56 57 63);
    --md-sys-color-surface-container-lowest: rgb(13 14 19);
    --md-sys-color-surface-container-low: rgb(26 27 33);
    --md-sys-color-surface-container: rgb(31 31 37);
    --md-sys-color-surface-container-high: rgb(41 42 47);
    --md-sys-color-surface-container-highest: rgb(52 52 58);
}