html,
body {
    margin: 0;
}

:root {
    --md-ref-typeface-brand: 'Roboto Flex', sans-serif;
    --md-ref-typeface-plain: 'Roboto Flex', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 1rem;
}